/* Header */

.header {
    background-color: rgb(71, 71, 71);
    color: white;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header__top, 
.header__bottom {
    padding: 0 0 0 30px;
}

.header__bottom {
    width: 80%;
}

/* Body Cards */

.body-card {
    background-color: black;
    color: white;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 1px solid white;
    padding: 0 40px 0 40px;
}

.cardBtn {
    background-color: #B5A080;
    color: white;
    border: none;
    width: 140px;
    height: 40px;
    transition: background-color 1s;
}

.cardBtn:hover {
    background-color: white;
    color: #B5A080;
    cursor: pointer;
    box-shadow: inset 0 -40px 0 -1px white;
}

.body-card > h3 {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.card__one > p {
    font-size: 0.8rem;
    margin-bottom: 30px;
}

.card__two > p {
    font-size: 0.6rem;
    margin-bottom: 30px;
}

.card__three {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__four {
    display: flex;
    flex-direction: column;
    height: 300px;
    padding: 20px 20px 40px 20px;
}

.card__four > h3 {
    margin: 0;
}

.card__four__top > p {
    margin-bottom: 30px;
    font-size: 0.6rem;
}

.card__four__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.card__four__bottom {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: 0 auto;
}

.img-div {
    height: 50px;
    width: 50px;
    background-color: red;
    margin: 0 auto;
}

/* Footer */
.footer {
    background-color: rgb(71, 71, 71);
    color: white;
    display: grid;
    min-height: 350px;
    grid-template-rows: 40% 40% 20%;
    flex-direction: column;
}

.footer__top > h3, 
.footer__bottom > h3 {
    margin: 20px 0 10px 0;
    border-bottom: 1px solid red;
}

.footer__top, 
.footer__bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer__top {
    grid-row: 1;
    padding: 0 40px 0 40px;
}

.footer__bottom {
    grid-row: 2;
    padding: 0 40px 0 40px;
    margin-top: 15px;
}

.footer__top > p, 
.footer__bottom > p {
    margin: 10px 0 10px 0;
    font-size: 0.7rem
}

.footer__copyright {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 3;
    font-size: 0.7rem
}