/* --- Home Page --- */

/* Fonts */
@font-face {
    font-family: "Header-Main";
    src: url(/src/assets/fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: "Body-Main" ;
    src: url(/src/assets/fonts/Lato-Light.ttf);
}

@font-face {
    font-family: "Menu-Main";
    src: url(/src/assets/fonts/MonsieurLaDoulaise-Regular.ttf);
}

@font-face {
    font-family: "Subheader-Main";
    src: url(/src/assets/fonts/Roboto-Thin.ttf);
}

h1 {
    font-family: "Header-Main";
}

h2, h3, h4, h5, h6 {
    font-family: "Subheader-Main";
}

p, a, button {
    font-family: "Body-Main";
}

::placeholder {
    font-family: "Body-Main";
}

/* Header */

.header {
    background-image: url("/src/assets/images/header.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header__top {
    font-family: "Header-Main";
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    cursor: pointer;
    border-bottom: 2px solid red;
}

.header__top, 
.header__bottom {
    padding: 0 35px 0 35px;
}

.header__bottom {
    width: 80%;
}

.header__bottom > p {
    margin: 0;
    color: rgb(255, 27, 27);
    font-size: 1.5rem;
}

/* Body Cards */

.body-card {
    background-color: black;
    color: white;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* border-bottom: 1px solid white; */
    padding: 0 40px 0 40px;
}

.cardBtn {
    background-color: #B5A080;
    color: white;
    border: none;
    width: 140px;
    height: 40px;
    transition: background-color 1s;
}

.cardBtn:hover {
    background-color: white;
    color: #B5A080;
    cursor: pointer;
    box-shadow: inset 0 -40px 0 -1px white;
}

.body-card > h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card__one > p {
    font-size: 1rem;
    margin-bottom: 30px;
}

.card__two > p {
    font-size: 1rem;
    margin-bottom: 30px;
}

.card__three {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__four {
    display: flex;
    flex-direction: column;
    height: 300px;
    padding: 20rem 20px 20rem 20px;
}

.card__four__top > h3 {
    font-size: 1.5rem;
}

.card__four__top > p {
    margin-bottom: 30px;
    font-size: 1rem;
    border-bottom: 1px solid white;
    margin-bottom: 4rem;
}

.card__four__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.card__four__bottom {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: 0 auto;
}

.img-div {
    height: 200px;
    width: 250px;
    background-color: #B5A080;
    margin: 0 auto;
    cursor: pointer;
    background-size: 150%;
    background-repeat: no-repeat;
}

#social-img1 {
    background-image: url(/src/assets/images/img1.jpg);
}

#social-img2 {
    background-image: url(/src/assets/images/img2.jpg);
}

#social-img3 {
    background-image: url(/src/assets/images/img3.jpg);
}

#social-img4 {
    background-image: url(/src/assets/images/img4.jpeg);
}

#social-img5 {
    background-image: url(/src/assets/images/img5.jpg);
}

#social-img6 {
    background-image: url(/src/assets/images/img6.jpg);
}


/* Footer */
.footer {
    background-color: rgb(71, 71, 71);
    color: white;
    display: grid;
    min-height: 350px;
    grid-template-rows: 60% 40%;
    grid-template-columns: 50% 50%;
    flex-direction: column;
}

.footer__contact > h3, 
.footer__dresscode > h3, 
.footer__subscribe > h3 {
    margin: 20px 0 10px 0;
    border-bottom: 1px solid red;
}

.footer__contact, 
.footer__dresscode, 
.footer__subscribe {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer__contact {
    grid-row: 1;
    grid-column: 1;
    padding: 0 40px 0 40px;
}

.footer__dresscode {
    grid-row: 2;
    grid-column: 1;
    padding: 0 40px 0 40px;
    margin-top: 15px;
}

.footer__subscribe {
    grid-row: span 2;
    grid-column: 2;
}

.footer__contact > p, 
.footer__dresscode > p, 
.footer__subscribe > p {
    margin: 10px 0 10px 0;
    font-size: 0.7rem
}

.footer__input-div > input {
    width: 185px;
    height: 30px;
    padding: 10px;
    margin: 20px 10px 20px 0;
}

.footer__input-div > input:focus {
    outline: none;
}

.footer__input-div > button {
    background-color: #B5A080;
    border: none;
    width: 100px;
    height: 55px;
}

.footer__input-div > button:hover {
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.footer__copyright {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 3;
    grid-column: span 2;
    font-size: 0.7rem
}

/* --- Reservations Page --- */

#calendar {
    margin: 0px 0px;
    border-radius: 0;
}

.confirmation-message {
    color: rgb(141, 176, 108);
    text-align: center;
}

/* --- Lounge Page --- */
#lounge-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px;
    background-image: url("/src/assets/images/lounge.jpg");
    background-size: 100%;
    background-position: 20%;
    background-repeat: no-repeat;
}

#lounge-card > h3 {
    font-size: 1.8rem;
}

#lounge-card-two {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    color: white;
    padding-top: 2rem;
    padding-bottom: 16rem;
    gap: 20px;
    overflow: hidden;
}

#lounge-card-two > h4 {
    grid-row: 1;
    grid-column: span 2;
    text-align: center;
    font-size: 1.8rem;
}

.dj-div {
    text-align: center;
}

.dj-name {
    color: #B5A080;
}

.dj-one {
    grid-row: 2;
    grid-column: 1;
}

.dj-two {
    grid-row: 2;
    grid-column: 2;
}

.dj-three {
    grid-row: 3;
    grid-column: 1;
}

.dj-four {
    grid-row: 3;
    grid-column: 2;
}

.dj-five {
    grid-row: 4;
    grid-column: 1;
}

.dj-six {
    grid-row: 4;
    grid-column: 2;
}

/* --- Menu Page --- */
#menu-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu-header {
    font-family: "Subheader-Main";
    font-size: 3rem;
}

#menu-card-two {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    color: white;
    padding: 0 3rem 40rem 3rem;
    /* padding-bottom: 40rem; */
    row-gap: 20px;
    overflow: hidden;
    align-items: center;
}

.menu-item-header {
    font-size: 1.2rem;
    text-align: center;
}

.menu-item-desc {
    font-size: 0.6rem;
}

/* --- MEDIA QUERIES --- */
@media (max-width: 450px){
    .header__bottom > p {
        font-size: 1rem;
    }

    .card__one > p {
        font-size: 0.8rem;
    }
    
    .card__two > p {
        font-size: 0.8rem;
    }

    .footer {
        display: grid;
        grid-template-rows: 175px 125px 200px;
        grid-template-columns: 1fr;
        flex-direction: column;
    }

    .footer__contact {
        grid-row: 1;
        padding: 20px 40px 0 40px;
    }

    .footer__dresscode {
        grid-row: 2;
        grid-column: 1;
    }

    .footer__subscribe {
        grid-row: 3;
        grid-column: 1;
        padding: 0 40px 0 40px;
    }

    .footer__input-div {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .footer__input-div > input {
        width: 155px;
        height: 15px;
        padding: 15px;
        margin-right: 5px;
    }

    .footer__input-div > button {
        width: 100px;
        height: 50px;
    }

    .footer__copyright {
        grid-row: 4;
    }

    .menu-item-desc {
        font-size: 0.5rem;
    }
}

@media (max-width: 667px) {
    .img-div {
        height: 150px;
        width: 150px;
    }

    .card__four {
        padding: 15rem 20px 15rem 20px;
    }
}